body
  {
  background-color: #66FFFF;

}
a {
  text-decoration: none;
}

a:link {
  text-decoration: #66FFFF;
  background-color: #33FF00;

}
p {
  border: 5px solid green;
  padding: 10px;
  margin: 10px;
  height: 10px;
  length: 500px;
  width: 300px;
}
